<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
      window.onload = function() {
        var nav = document.getElementById("nav")
        var currentId = nav.getAttribute("data-current-item");
        if (!currentId) return;
        var link = document.getElementById(currentId);
        if (!link) return;
        link.className = link.className ? link.className + " current-nav-item" : "current-nav-item";
        nav.scrollTop = link.offsetTop + (link.offsetHeight - nav.offsetHeight)/2;
      }
    </script>

    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<?js var navTag = '<nav id="nav" data-current-item="' + (docs[0].ojId || (title=='Global' ? 'navItemGlobal' : 'none')) + '">'; ?>
<?js= navTag ?>
    <?js= this.nav ?>
</nav>

<div id="main">
    <h1 class="page-title"><?js= title ?></h1>

    <?js // TBD: This header needs to appear in both panes if we add panes.  Currently the doc has only one pane.  See bug 18672440.
         // Note that we hide this via CSS in our doc, but show it when integrated with other Oracle doc. ?>
    <p class="product-docs-header">

    <?js= content ?>
    <footer>
        Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?><br>
        <span class="product-docs-footer">Copyright © 2017, <?js=(new Date().getFullYear()) ?>
        Oracle and/or its affiliates The Universal Permissive License (UPL), Version 1.0.<span>
    </footer>
</div>

<script> prettyPrint(); </script>
</body>
</html>
